PORT=4000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://udayr:<db_password>@cluster0.vrhgrl7.mongodb.net/?appName=Cluster0
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dgps6etqv
CLOUDINARY_API_KEY=442923267628275
CLOUDINARY_API_SECRET=-WAvmBvgHkr4icjYCONw0FUhGZ0   